#gamesSlides .logo {
	background-image: url('../img/retina_GameDuell_logo.png'); 
	background-size: cover;
	width: 482px; 
	height: 144px; 
	margin:auto;
}


#example.red.box {
	background-color: red;
	width: 400px;
	height: 200px;
	margin: auto;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
}
.rotate {
	-webkit-transform: perspective( 400px ) rotateY( 45deg );
	-webkit-transition: all 3s;
	-moz-transform: perspective( 400px ) rotateY( 45deg );
	-moz-transition: all 3s;
	transform: perspective( 400px ) rotateY( 45deg );
	transition: all 3s;
}

li.green {
    color : green;
}
li.red {
    color : red;
}
ul.checkmark li:before {
    content:"\2713\0020";
}

#example2 {
    width: 100px;
    height: 100px;
    margin: auto;
    background: red;
}
#example2.animate {
    -webkit-animation: myfirst 5s;
    -moz-animation: myfirst 5s;
    animation: myfirst 5s;
}

#gamesSlides .h1,
#gamesSlides .h2,
#gamesSlides .h3 {
    font-family: 'Chewy', sans-serif;
}

@-webkit-keyframes myfirst {
    from {background: red;}
    to {background: blue;}
}
@-moz-keyframes myfirst {
    from {background: red;}
    to {background: blue;}
}
@keyframes myfirst {
    from {background: red;}
    to {background: blue;}
}

button {
    min-width: 60px;
    min-height: 40px;
}

.big.div {
    width: 80px;
    height: 80px;
    margin: 10px auto !important;
}

.roundBorders {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.circleBorders {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.div.red {
    background-color: red;
}

.large.div {
    width: 380px;
    height: 80px;
    margin: 10px auto !important;
}

.blaugrana {
    background-image: -webkit-linear-gradient(top, red 0%, blue 50%, blue 50%, red 100%);
    background-image: -moz-linear-gradient(top, red 0%, blue 50%, blue 50%, red 100%);
    background-image: linear-gradient(top, red 0%, blue 50%, blue 50%, red 100%);
            
}
footer {
    padding-top: 10% !important;
}
button {
    min-width: 150px;
}
.reveal pre {
    width: 100%;
}
#swoosh {
    height: 240px;
    width: 100%;
}
#swoosh path {
    stroke-linecap: square;
    fill: none;
    transition: stroke 0.5s;
    -moz-transition: stroke 0.5s;
    -o-transition: stroke 0.5s;
    -ms-transition: stroke 0.5s;
    -webkit-transition: stroke 0.5s;
}
#swoosh path.inner {
    stroke: #A01215;
    stroke-width: 80;
}
#swoosh path.inner {
    stroke: #148a21;
}
#swoosh path.outer {
    stroke: #017316;
    stroke-width: 120;
}

